/* <<<<--------------------------------Made By Darshan Panchal!!------------------------------------->>>>>  */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  /* color: #fba043; */
  text-align: center;
  font-family: "Lato", sans-serif;
}

.green {
  color: #65fd0d;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

/* <------------------------For Common Button--------------------------> */

.button {
  background-color: #d4ff3f;
  color: #343a40;
  padding: 20px 40px;
  width: 10%;
  border: none;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #c5f80c;
}

/* <--------------------main container part---------------> */

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* <--------------------------lists-Box css-----------------------> */
.lists-box {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
}

.lists h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.lists ul {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 0; /* Remove default padding */
  list-style-type: none; /* Remove bullet points */
}

.lists ul li {
  border: 1px solid wheat; /* Border color for each list item */
  display: flex;
  justify-content: space-between; /* Space between image/info and button */
  align-items: center; /* Center items vertically */
  margin: 10px 0; /* Margin between items */
  padding: 15px; /* Padding inside each item */
  border-radius: 5px; /* Rounded corners for list items */
}

.lists ul li img {
  border-radius: 50%;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.content {
  display: flex;
  align-items: center;
}

.frnd-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.frnd-info h3 {
  font-size: 1.6rem;
}

.frnd-info p {
  margin: 5px 0;
}

/* <--------------------------Add list form css--------------------------> */
.add_list_box {
  background-color: #f4eec1;
  color: #000000;
}
